@media screen and (max-width: 450px)
	{
		/* CHANGE HEADER ICON AND TITLE BELOW 450PX
		*/
		h1 {
			font-size: 35px;
			font-weight: 400;
		}

		h3 {
			font-size: 30px;
		}

		.logo {
			height: 75px;
		}

		.logo_pos {
			width: 75px;
		}

		.title {
			width: 70%;
			width: calc(100% - 75px);
			width: -moz-calc(100% - 75px);
			width: -webkit-calc(100% - 75px);
		}

	}

	@media screen and (max-width: 599px)
	{

		.work {
			width: 100%;
			margin-right: 0;

		}

	}


	@media screen and (min-width: 600px) and (max-width: 969px)
	{

		.work {
			width: 50%;
			width: calc((100% - 20px) / 2);
			width: -moz-calc((100% - 20px) / 2);
			width: -webkit-calc((100% - 20px) / 2);

		}

		.work:nth-last-of-type(2) {
			margin-right: 0;
		}

	}



	@media screen and (min-width: 970px)
	{
		.container {
			width: 945px;
			margin: auto;
		}

		.work {
			width: 33.3%;
			width: calc((100% - 40px) / 3);
			width: -moz-calc((100% - 40px) / 3);
			width: -webkit-calc((100% - 40px) / 3);
		}

		.work:last-of-type {
			margin-right: 0;
		}

	}